{% extends 'EdryAssetManagerBundle::layout.html.twig' %}

{% block title %}View Assets{% endblock %}

{% block content %}
<h1>View Assets</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Asset Type</th>
            <th>Tech Group</th>
            <th>Owner</th>
            <th>Serial No.</th>
            <th>Edry tag</th>
            <th>Manf. date</th>
            <th>Condition</th>
            <th>Value</th>
            <th>Comments</th>
            <th>Attachement</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.assettypeid }}</td>
            <td>{{ entity.techgroupid }}</td>
            <td>{{ entity.accountowner }}</td>
            <td>{{ entity.serialnumber }}</td>
            <td>{{ entity.edrytag }}</td>
            <td>{{ entity.manufacturedate }}</td>
            <td>{{ entity.conditiondescription }}</td>
            <td>{{ entity.assetvalue }}</td>
            <td>{{ entity.comments }}</td>
            <td>{{ entity.attachement }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('techassets_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('techassets_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('techassets_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}