{% extends 'EdryAssetManagerBundle::layout.html.twig' %}

{% block title %}Asset{% endblock %}


{% block content %}
<h1>View Asset</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Asset Type</th>
            <td>{{ entity.assettypeid }}</td>
        </tr>
        <tr>
            <th>Tech Group</th>
            <td>{{ entity.techgroupid }}</td>
        </tr>
        <tr>
            <th>Owner</th>
            <td>{{ entity.accountowner }}</td>
        </tr>
        <tr>
            <th>Serial number</th>
            <td>{{ entity.serialnumber }}</td>
        </tr>
        <tr>
            <th>Edry tag</th>
            <td>{{ entity.edrytag }}</td>
        </tr>
        <tr>
            <th>Manf. date</th>
            <td>{{ entity.manufacturedate }}</td>
        </tr>
        <tr>
            <th>Condition</th>
            <td>{{ entity.conditiondescription }}</td>
        </tr>
        <tr>
            <th>Value</th>
            <td>{{ entity.assetvalue }}</td>
        </tr>
        <tr>
            <th>Comments</th>
            <td>{{ entity.comments }}</td>
        </tr>
        <tr>
            <th>Attachement</th>
            <td>{{ entity.attachement }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('techassets') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('techassets_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('techassets_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}