{% extends 'EdryAssetManagerBundle::layout.html.twig' %}

{% block title %}Tech Groups{% endblock %}


{% block content %}
<h1>Tech Groups</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Van rego</th>
            <th>Location</th>
            <th>Driver</th>
            <th>Last Edited</th>
            <th>Make</th>
            <th>Year Manf.</th>
            <th>Odo</th>
            <th>Vin</th>
            <th>Condition</th>
            <th>Fuel card</th>
            <th>Tag time</th>
            <th>Radio code</th>
            <th>Imarda tag</th>
            <th>Van tracker</th>
            <th>Tow bar</th>
            <th>Spare key</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.vanrego }}</td>
            <td>{{ entity.location }}</td>
            <td>{{ entity.driver }}</td>
            <td>{% if entity.timestamp %}{{ entity.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.make }}</td>
            <td>{{ entity.caryear }}</td>
            <td>{{ entity.odo }}</td>
            <td>{{ entity.vin }}</td>
            <td>{{ entity.conditiondescription }}</td>
            <td>{{ entity.fuelcard }}</td>
            <td>{{ entity.tagtime }}</td>
            <td>{{ entity.radiocode }}</td>
            <td>{{ entity.imardatag }}</td>
            <td>{{ entity.vantracker }}</td>
            <td>{{ entity.towbar }}</td>
            <td>{{ entity.sparekey }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('techgroup_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('techgroup_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('techgroup_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}