{% extends 'EdryAssetManagerBundle::layout.html.twig' %}

{% block title %}Tech Groups{% endblock %}


{% block content %}
<h1>Tech Groups</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Van Rego</th>
            <td>{{ entity.vanrego }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ entity.location }}</td>
        </tr>
        <tr>
            <th>Driver</th>
            <td>{{ entity.driver }}</td>
        </tr>
        <tr>
            <th>Edited last</th>
            <td>{{ entity.timestamp|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Make of Van</th>
            <td>{{ entity.make }}</td>
        </tr>
        <tr>
            <th>Year of Manf.</th>
            <td>{{ entity.caryear }}</td>
        </tr>
        <tr>
            <th>Odo</th>
            <td>{{ entity.odo }}</td>
        </tr>
        <tr>
            <th>Vin</th>
            <td>{{ entity.vin }}</td>
        </tr>
        <tr>
            <th>Condition</th>
            <td>{{ entity.conditiondescription }}</td>
        </tr>
        <tr>
            <th>Fuel card</th>
            <td>{{ entity.fuelcard }}</td>
        </tr>
        <tr>
            <th>Tag time</th>
            <td>{{ entity.tagtime }}</td>
        </tr>
        <tr>
            <th>Radio code</th>
            <td>{{ entity.radiocode }}</td>
        </tr>
        <tr>
            <th>Imarda tag</th>
            <td>{{ entity.imardatag }}</td>
        </tr>
        <tr>
            <th>Van tracker</th>
            <td>{{ entity.vantracker }}</td>
        </tr>
        <tr>
            <th>Tow bar?</th>
            <td>{{ entity.towbar }}</td>
        </tr>
        <tr>
            <th>Spare key</th>
            <td>{{ entity.sparekey }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('techgroup') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('techgroup_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('techgroup_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}